@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
  }

* {
    box-sizing: border-box;
    font-family: Roboto;
}


::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
	// background-image: url('../img/poke.jpg');
	background-color: bisque;
	color: #333;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}