/* helpers */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.row-reverse{
    flex-direction: row-reverse;
}

.text-center {
    text-align: center;
}


.no-decoration{
    text-decoration: none;
}

.margin-top{
    margin-top: 3%;
}